
#subscribe {
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  background-color: $ge_blue;
  [class*="col-"] * {
    width: 100%;
  }
  div:first-child {
    text-align: center;
  }
    button {
        background-color: $ge_white;
        font-weight: 600;
        font-size: 22px;
        color: $ge_blue;
      height: 54px;
    }
    * {
        color: $ge_white;
    }
    h2 {
        font-weight: 100;
    }
    #input_email_wrapper {
      margin-top: 23px;
      margin-bottom: 14px;
        border-bottom: 1px solid $ge_white;
        * {
            font-size: 18px;
        }
        input {
            border: none;
            background-color: $ge_blue;
            outline: none;
            margin-top: 7px;
        }
        button {
            padding: 9px;
            float: right;
        }
    }
}


@media only screen and (min-width: 576px) {
  #subscribe {
    [class*="col-"] * {
      width: auto;
    }
    #input_email_wrapper {
      input {
        width: 555px;
      }
    }
  }
}

@media (min-width:576px) and (max-width:1200px) {
  #subscribe {
    button {
      width: 333px !important;
    }
  }
}
@media only screen and (min-width: 1200px) {
  #subscribe {
    flex-direction: row;
    button {
      width: auto;
      margin: 0;
      padding-right: 0;
      background-color: transparent;
      font-size: 16px;
      font-weight: normal;
      color: $ge_white;
      border-bottom: 1px solid $ge_white;
    }
    #input_email_wrapper {
      margin-right: 0;
      input {
        width: auto;
      }
    }
    #social {
      display: flex;
      h2 {
        margin: auto 19px;
        margin-left: 0 !important;
      }
      img {
        margin: 4px;
        height: 52px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    [class*="col-"] {
      * {
        margin: 18px !important;
      }
    }
    #social_footer img {
      margin: 3px !important;
    }
  }
}

footer {
    flex-direction: column;
    border-bottom: 8px solid $ge_light_blue;
  padding: 13px;
  box-sizing: border-box;
  * {
    justify-content: center;
  }
  h2 {
    color: $ge_blue;
    font-weight: normal;
  }
    a {
        color: $ge_black;
        font-size: 15px;
    }
    #site_map {
        flex-direction: row-reverse;
    }
  img {
    height: 62px;
  }
    #cards {
      img {
        height: 18px;
      }
    }
}

@media only screen and (min-width: 1200px) {
  footer {
    padding: 22px;
    flex-wrap: wrap;
    flex-direction: row;
    [class*="col-"] {
      * {
        margin: auto;
      }
    }
  }
}