body {
  font-family: $font-stack;
  color: $primary-color;
  background-color: $background-color;
  margin: 0;
}
* {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 18px;
  &:hover {
    background-color: lightgray;
  }
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}