
.bg-logo {
  width: 73px; height: 71px;
  background: url('css_sprites.png') -2912px -698px;
}
.bg-language {
  width: 48px; height: 24px;
  background: url('css_sprites.png') -2898px -940px;
}

#header {
  .separator {
    border-left: 1px solid $ge_light_grey;
    margin: auto 0;
    height: 15px;
    margin-right: 18px;
  }
  #header-right {
    padding-right: 24px;
    .container__row {
      align-items: flex-end;
      > * {
        margin: 0;
      }
    }
    nav {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      a {
        color: $ge_blue;
        text-decoration: none;
        margin: auto 14px;
        &:first-child {
          margin-left: 4px;
        }
        &:last-child {
          margin-right: 4px;
        }
      }
    }
    #land {
      color: $ge_black;
      button {
        margin-right: 0;
      }
      figure {
        margin: 0;
        display: flex;
        align-items: center;
        img {
          width: 33px;
          margin-right: 9px;
        }
      }
    }
  }
  #logo {
    margin: 15px;
    img {
      width: 55px;
    }
  }
}

@media only screen and (max-width: 370px) {
  #header-right {
    nav a {
      margin: auto 4px !important;
      font-size: 14px;
    }
    * {
      font-size: 12px;
    }
  }
}

// for tablets and higher
@media only screen and (min-width: 576px) {
  #header {
    #header-right {
      nav {
        font-weight: normal;
        font-size: 20px;
      }
    }
  }
}
