.greenearth-1, .greenearth-2, .greenearth-3, .alicante, .hamburg,
.landungsbrucken, .london, .milan, .milano, .side-image,
.fb, .inst, .twtr, .about-0, .about-1,
.about-2, .about-3, .amex, .visa, .mc,
.logo, .fb-white, .inst-white, .twtr-white, .arrow-left,
.arrow-right, .language, .p, .x, .v,
.dollar
{ max-width: 100%; background-size: 100%; background-image: url('png.png'); }

.greenearth-1 { background-position: 0 0%; background-size: 100%; }
.greenearth-2 { background-position: 0 10.845987%; background-size: 100%; }
.greenearth-3 { background-position: 0 21.691974%; background-size: 100%; }
.alicante { background-position: 0 31.584992%; background-size: 267.379679%; }
.hamburg { background-position: 0 39.192035%; background-size: 267.379679%; }
.landungsbrucken { background-position: 0 46.812177%; background-size: 267.379679%; }
.london { background-position: 0 54.421899%; background-size: 267.379679%; }
.milan { background-position: 0 62.02144%; background-size: 267.379679%; }
.milano { background-position: 0 69.62098%; background-size: 267.379679%; }
.side-image { background-position: 0 74.414315%; background-size: 750%; }
.fb { background-position: 0 76.967824%; background-size: 1250%; }
.inst { background-position: 0 79.149246%; background-size: 1250%; }
.twtr { background-position: 0 81.330667%; background-size: 1250%; }
.about-0 { background-position: 0 83.179431%; background-size: 1546.391753%; }
.about-1 { background-position: 0 84.953829%; background-size: 1546.391753%; }
.about-2 { background-position: 0 86.728227%; background-size: 1546.391753%; }
.about-3 { background-position: 0 88.502625%; background-size: 1546.391753%; }
.amex { background-position: 0 89.083438%; background-size: 1785.714286%; }
.visa { background-position: 0 89.544236%; background-size: 1829.268293%; }
.mc { background-position: 0 90.526694%; background-size: 1973.684211%; }
.logo { background-position: 0 91.783784%; background-size: 2054.794521%; }
.fb-white { background-position: 0 92.878979%; background-size: 2459.016393%; }
.inst-white { background-position: 0 93.957921%; background-size: 2459.016393%; }
.twtr-white { background-position: 0 95.036864%; background-size: 2459.016393%; }
.arrow-left { background-position: 0 95.943278%; background-size: 3000%; }
.arrow-right { background-position: 0 96.840783%; background-size: 3000%; }
.language { background-position: 0 97.284259%; background-size: 3125%; }
.p { background-position: 0 98.16909%; background-size: 3409.090909%; }
.x { background-position: 0 98.694564%; background-size: 5357.142857%; }
.v { background-position: 0 99.089123%; background-size: 5555.555556%; }
.dollar { background-position: 0 100%; background-size: 6000%; }