
#inspire {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * {
    font-size: 26px;

  }
  > p {
    color: $ge_blue;
    font-weight: normal;
  }
  a {
    color: $ge_blue;
    font-weight: bolder;
    p {
      margin-top: 0;
      padding-bottom: 3px;
      background-image: linear-gradient(to right, $ge_blue 56%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 32px 2px;
      background-repeat: repeat-x;
    }
  }
}

#offers_wrapper.container__row {
  flex-wrap: wrap;
}

#offers {
  background-color: $ge_blue;
  padding: 18px;
  position: relative;
  header {
    background-color: $ge_yellow;
    color: $ge_blue;
    position: absolute;
    top: 143px;
    left: 10px;
    font-weight: bold;
    padding: 5px 9px;
  }
  h1 {
    color: $ge_white;
    font-size: 26px;
    margin-bottom: 24px;
    margin-top: 12px;
    text-align: center;
    font-weight: normal;
    span {
      display: block;
    }
  }
  #offers_wrapper {
    justify-content: center;
    article {
      margin: -7px;;
      padding: 0;
      border: 6px solid $ge_blue;
      flex-direction: column;
      background-color: white;
      align-items: baseline;
      a {
        margin: 0;
        padding: 18px;
        color: $ge_blue;
      }
      figure {
        margin: 0;
        width: 100%;
        figcaption {
          margin: 11px 0 0 18px;
          color: $ge_dark_blue;
          * {
            margin: 0;
          }
        }
        button {
          cursor: pointer;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  #inspire {
    padding: 24px 0;
    flex-direction: row;
    * {
      margin: 0;
    }
    a {
      margin-left: 11px;
    }
  }
  #offers .container__row {
    > * {
      align-items: flex-start;
      h1 {
        font-size: 16px;
        margin: 8px 0;
        span {
          display: inline;
        }
      }
    }
  }
  #offers {
    header {
      top: 93px;
    }
  }
}

@media only screen and (min-width: 892px) {
  #offers {
    header {
      left: 80px;
    }
  }
}