
#slideshow {
  position: relative;
  .mySlides {
    width: 100%;
    display: none;
    min-height: 100%;
    img {
      width: 100%;
    }
  }
  .arrows {
    position: absolute;
    top: 60%;
    right: 3%;
    img {
      border-radius: 27px;
    }
    * {
      cursor: pointer;
      width: 34px;
      padding: 4px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      border-radius: 0 3px 3px 0;
    }
  }
  figure {
    margin: 0;
    figcaption {
      position: absolute;
      left: 11%;
      top: 32%;
      color: $ge_white;
      width: 333px;
      p {
        margin: 7px auto;
      }
      h1 {
        margin: 0;
      }
      button {
        padding: 8px 16px;
        color: $ge_white;
        background-color: $ge_blue;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  #slideshow {
    figcaption {
      width: 222px !important;
    }
    .arrows {
      top: 37%;
      * {
        width: auto;
      }
    }
  }
}

@media only screen and (min-width: 892px) {
  #slideshow {
    .arrows {
      top: 42%;
    }
    figcaption {
      width: 257px !important;
      h1 {
        font-size: 36px;
      }
    }
  }
}