
.bg-v {
  width: 27px; height: 22px;
  background: url('css_sprites.png') -2966px -940px;
}

.bg-x {
  width: 28px; height: 29px;
  background: url('css_sprites.png') -2181px -998px;
}

.bg-side_image {
  width: 200px; height: 200px;
  background: url('css_sprites.png') -2692px -580px;
}


#tabs {
  flex-direction: column;
  background-color: $ge_dark_blue;
  #tabs_wrapper {
    box-sizing: border-box;
    padding: 25px;
    #tab_content {
      flex-direction: column;
    }
  }
  #tabs_navigation {
    display: none;
  }
  #tabs_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    h1:first-child {
      margin-bottom: -11px;
    }
    h1 {
      margin-bottom: 0;
      text-align: center;
    }
    header, p {
      color: $ge_white;
      font-size: 13px;
    }
    header {
      margin-bottom: 6px;
    }
    p {
      width: 37%;
      text-align: center;
    }
    a {
      color: $ge_light_blue;
      font-size: 14px;
    }
    h1 {
      color: $ge_light_blue;
      font-size: 34px;
      margin-top: 0;
    }
  }

  #services_and_upgrades {
    justify-content: center;
    a {
      padding: 0;
      padding-bottom: 2px;
      margin: 0;
      margin-top: auto;

      font-size: 18px;
      background-image: linear-gradient(to right, $ge_light_blue 68%, rgba(255, 255, 255, 0) 0);
      background-position: bottom;
      background-size: 11px 1px;
      background-repeat: repeat-x;
    }
  }

  .tab {
    overflow: hidden;
    background-color: #f1f1f1;
    button {
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 18px;
      justify-content: center;
      border-top: 5px solid #f1f1f1;
      margin: 0;
      &:not(:active) {
        opacity: 0.4;
      }
      &.active {
        background-color: $ge_white;
        border-top: 5px solid $ge_light_blue;
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        background-color: #ddd;
        border-top: 5px solid #ddd;
      }
    }
  }


  .tab-content-wrapper {
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 42px;
    .tab_list {
      margin-top: 11px;
    }
    div:last-child {
      margin-top: 14px;
    }
    [class*="col-"] {
      flex-direction: column;
    }
    h2 {
      color: $ge_blue;
      margin: 21px auto;
    }
    .tab_cover {
      img {
        height: 140px;
      }
    }
    figure {
      margin: 0;
      display: block;
      * {
        display: inline;
      }
      img {
        vertical-align: middle;
        margin: 6px;
        height: 19px;
      }
      figcaption {
        vertical-align: sub;
        color: $ge_dark_blue;
        margin: 8px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .tab-content-wrapper {
    .tab_list {
      margin-left: 0;
    }
  }
}
@media only screen and (min-width: 892px) {
  #services_and_upgrades {
    justify-content: flex-end;
    div {
      justify-content: flex-end;
    }
  }
}
@media only screen and (min-width: 576px) {
  #tabs {
    #services_and_upgrades {
      margin-right: 26px !important;
      flex-direction: row-reverse;
    }
    .tab-content-wrapper {
      flex-direction: row;
      display: none;
      &.active {
        display: flex;
      }
    }
    #tabs_navigation {
      display: flex;
    }
    div {
      h1 {
        display: inline;
      }
    }
  }
}