$font-stack:    Open-Sans, Helvetica, sans-serif;

$ge_black: rgb(3, 19, 38);
$ge_dark_blue: #021f59;
$ge_blue: rgb(0, 47, 157);
$ge_light_blue: #38bdff;
$ge_grey: rgb(117, 117, 117);
$ge_light_grey: lighten($ge_grey, 30);
$ge_yellow: yellow;
$ge_white: white;

$primary-color: $ge_blue;
$background-color: $ge_white;
